.title {
    color: hotpink;
    font-family: 'Poppins', sans-serif;
    font-size: 128px;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hotpink;
}
.text {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin: 0;
}
.max-content{
    width: 100%;
    height: 100%;
}
.hero{
    position: relative;
    z-index: 2;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    .hero-title{
        font-family: "Poppins", sans-serif;
        font-size: 112px;
        color: whitesmoke;
        margin: 0;
        align-self: center;
    }
    .footer{
        position: absolute;
        bottom: 20px;
        color: whitesmoke;
        z-index: 2;
        font-family: "Poppins", sans-serif;
        margin: 0;
        align-self: center;
        font-size: 12px;
    }
}

.card-container{
    font-family: "Poppins", sans-serif;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    .card{
        align-self: center;
        height: 80%;
        border-radius: inherit;
        position: relative;
        img{
            border-radius: inherit;
            height: 100%;
        }
        .smokey-overlay{
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: rgba($color: #000000, $alpha: 0.4);
            position: absolute;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            top: 0;
            .card-title{
                text-align: right;
                text-transform: uppercase;
                font-size: 80px;
                margin: 12px 16px;
                color: whitesmoke;
            }
            .number{
                text-transform: uppercase;
                font-size: 80px;
                margin: 12px 16px;
                color: whitesmoke;
        
            }
            .annotate{
                font-family: 'Open Sans', sans-serif;
                align-self: center;
                font-size: 16px;
                margin: 12px 16px;
                color: whitesmoke;
            }
        }
    }
}